<div class="container">
  <h2><%= @store.name %></h2>
  <p>Location:
    <%= @store.town %></p>
  <p>Street:
    <%= @store.street %></p>
  <% @shoes.each do |shoe| %>
  <p><img src="<%= shoe.image %>" alt=""></p>
  Shoe Size:<%= shoe.size %>
  <br>
    Shoe Cost:<%= shoe.cost %>
    <% end %>
    <h3>Add Shoes:</h3>
    <form action="/shoes" method="post">
      <input type="hidden" name="id" value="<%= @store.id %>">
      <label for="image">Shoe Image:</label>
      <input class="form-control" type="text" name="image" id="image" required>
      <label for="size">Shoe Size:</label>
      <input class="form-control" type="text" name="size" id="size" required>
      <label for="cost">Shoe Cost:</label>
      <input class="form-control" type="text" name="cost" id="cost" required>

      <label for="brand">Add Brand</label>
    </br>
    <% if @brands.any? %>
    <% @brands.each do |brand| %>
    <input type="checkbox" name="brand_id" id="<%= brand.name %>" value="<%= brand.id %>">
    <label for="<%= brand.name %>"><%= brand.name %></label>
  </br>
  <% end %>
<% else %>
  <p>Please add brands</p>
  <% end %>

  <button type="submit" class="waves-effect waves-light btn">Add Shoe</button>
</form>
<br>
<form action="/stores/<%= @store.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="waves-effect waves-light btn">Delete</button>
</form>

<h3>Edit Store:</h3>
<form action="/stores/<%= @store.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="store">Store Name:</label>
  <input class="form-control" type="text" name="store" id="store" required>
  <label for="town">Town Located:</label>
  <input class="form-control" type="text" name="town" id="town" required>
  <label for="street">Street Located:</label>
  <input class="form-control" type="text" name="street" id="street" required>
  <button type="submit" class="waves-effect waves-light btn">Edit</button>
</form>

</div>
